.about__wrapper {
  padding: 128px 0 0;
}

.title {
  font-family: var(--gelasio);
  font-size: 42px;
}

.personal {
  margin-top: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.personal_content {
  max-width: 540px;

  display: flex;
  flex-direction: column;
  gap: 14px;
}

.personal_content__text {
  line-height: 1.6em;
}

.personal_image {
  position: relative;
  padding-left: 80px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 1px;
    height: 140px;

    background-color: var(--border-color);
  }

  & > img {
    padding: 4px;
    width: 214px;
    height: 214px;

    background-color: var(--white);
    border-radius: 20px;
  }
}

//Media Adaptation

@media (width < 540px) {
  .personal {
    gap: 14px;
  }

  .personal_image {
    order: -1;
    padding-left: 0;
    padding-bottom: 26px;

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      transform: translateY(-50%);

      width: 140px;
      height: 1px;

      background-color: var(--border-color);
    }

    & > img {
      padding: 4px;
      width: 214px;
      height: 214px;

      background-color: var(--white);
      border-radius: 20px;
    }
  }
}

